body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.second-navbar {
    background-color: #0400ff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6%;
    z-index: 2;
    width: 100%;
    display: flexbox;
    align-items: center;  

}
.second-navbar :hover{
    color: black;
}
.second-navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.second-navbar ul li {
    margin: 0;
    padding: 0;
}

.second-navbar ul li a {
    text-decoration: none;
    color: #fff;
}
.second-navbar a :hover{
    color: black;
}

.inicio {
margin-right: 15%;
margin-left: 15% ;
padding-top:  8%;
}
.imagen{
    max-height: 90%;

    align-items: center;
}
.contenido{
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    padding-top: 15%;
    color:black;
    display: flexbox;
    align-items: center;

}
.form{
    align-content: center;
}
.Calcular{
    background-color: rgba(245, 55, 55, 0.897);
    color: aliceblue;
    padding-top: 5px;
    padding-bottom:5px;
    width:15%;
    align-items: center;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
}
.NumberText{
    color: black;
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5% ;


}

.br{
    margin-top: 10%;
}
